<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/assets/css/font-awesome.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% include googleHead.html %}
  {% include adSense.html %}
  <script src="/assets/js/lunr.min.js"></script>
  <script src="/assets/js/search.js"></script>
</head>