<nav class="top-nav">
  {% include nav_recursive.html items=site.data.navigation.main %}
  <a href="{{ "" | relative_url }}" class="nav-item">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </a>
  <a href="/transport/motorhome.html" class="nav-item">
    <i class="fa-solid fa-van-shuttle"></i>
    <span>Motorhome</span>
  </a>
  <a href="/travel.html" class="nav-item">
    <i class="fa-solid fa-globe"></i>
    <span>Travel</span>
  </a>
  <a href="/gear/outdoor-gear.html" class="nav-item">
    <i class="fa-solid fa-person-hiking"></i>
    <span>Outdoor Gear</span>
  </a>
  <a href="/gear/tech-gear.html" class="nav-item">
    <i class="fa-solid fa-sim-card"></i>
    <span>Tech Gear</span>
  </a>
  <a href="/animals/dogs.html" class="nav-item">
    <i class="fa-solid fa-dog"></i>
    <span>Dogs</span>
  </a>
</nav>