<nav class="top-nav">
  <a href="{{ "/" | relative_url }}" class="nav-item">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </a>
  <a href="/categories/motorhome.html" class="nav-item">
    <i class="fa-solid fa-van-shuttle"></i>
    <span>Motorhome</span>
  </a>
  <a href="/categories/travel.html" class="nav-item">
    <i class="fa-solid fa-globe"></i>
    <span>Travel</span>
  </a>
  <a href="/categories/outdoor-gear.html" class="nav-item">
    <i class="fa-solid fa-person-hiking"></i>
    <span>Outdoor Gear</span>
  </a>
  <a href="/categories/tech-gear.html" class="nav-item">
    <i class="fa-solid fa-sim-card"></i>
    <span>Tech Gear</span>
  </a>
  <a href="/categories/dogs.html" class="nav-item">
    <i class="fa-solid fa-dog"></i>
    <span>Dogs</span>
  </a>
</nav>

