<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  {% include adSense.html %}
</head>
<body>
  <header class="hero">
    <img src="/assets/images/banner.avif" alt="Adventure Banner">
    <div class="hero-text">
      <h1>Exploring Trusted Reviews</h1>
      <p>Honest insights for your next adventure</p>
    </div>
  </header>

  {% include nav.html %}

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</p>
  </footer>
</body>
</html>